<!doctype html>

<html>
  
  <head>
    <title>TCActive</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted page-header">TCActive</h3>
      </div>
      <div class="row marketing">
        <div class="col-lg-12">
          <form method="post">
            <div class="form-group">
              <label class="control-label">Username</label>
              <div class="controls">
                <input name="userName" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <div class="controls">
                <input name="password" class="form-control" type="password">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="footer">
        <p>&copy; Putu Wiramaswara Widya 2014</p>
      </div>
    </div>
    <!-- /container -->
  </body>

</html>
