<!doctype html>

<html ng-app="userApp">
  
  <head>
    <title>TCActive</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css" />
    <script src="/static/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/static/mainApp.js"></script>
  </head>
  
  <body>
  <input type="hidden" id="backendAddress" value="<%= backendAddress %>"></input>
  <input type="hidden" id="token" value="<%= token %>"></input>
    <div class="container">
      <div class="row pull-right">You're login as <%= userName %>(<a href="/app/logout">Logout</a>)
      </div>
      <div class="header">
        <h3 class="text-muted page-header">TCActive</h3>
      </div>
      <div class="row marketing">
        <div class="col-lg-12">
            <ng-view>
            </ng-view>
        </div>
      </div>
      <div class="footer">
        <p>&copy; Putu Wiramaswara Widya 2014</p>
      </div>
    </div>
    <!-- /container -->
  </body>

</html>
