<div ng-controller="activityListController">
<h3>Activity List</h3>
<ul>
    <li ng-repeat="activity in activities"><a href="#/{{activity._id}}">{{activity._id}} - {{activity.activityName}}</a></li>
</ul>
</div>
