<div ng-controller="activityViewController">
<h3>{{activity.activityName}}</h3>
    <div class="col-md-7">
    <div id="map" style="height:500px;">
    </div>
    </div>
    <div class="col-md-5">
        <table class="table">
            <thead>
                <td><strong>Label</strong></td>
                <td><strong>PosX</strong></td>
                <td><strong>PosY</strong></td>
                <td><strong>PosZ</strong></td>
                <td><strong>Lat</strong></td>
                <td><strong>Long</strong></td>
            </thead>
            <tbody>
                <tr ng-repeat="a in activity.activityData">
                    <td>{{a.label}}</td>
                    <td>{{a.posX}}</td>
                    <td>{{a.posY}}</td>
                    <td>{{a.posZ}}</td>
                    <td>{{a.gpsLat}}</td>
                    <td>{{a.gpsLong}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
